* {
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

.tracker_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100vw;
  box-shadow: 15px 15px 15px 15px #bebebe, -15px -15px 30px 30px#ffffff;
  background-image: url(/public/bg.jpg);
}
.tracker_content h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  background-color: gray;
  padding: 10px 30px;
  border-radius: 5px;
}

.tracker_content h4 {
  font-size: 25px;
  color: rgb(43, 41, 41);
  margin-top: 1px;
  padding: 10px 20px;
  color: rgb(62, 117, 255);
  background-color: black;
  border-radius: 5px;
}

.label_class {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label_class label {
  font-size: 20px;
  font-weight: bold;
  color: rgb(80, 81, 81);
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.label_class input {
  border: none;
  outline: none;
  font-size: 20px;
  padding: 15px 100px;
  border-radius: 5px;
}

.add_button {
  padding: 10px 150px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(208, 5, 120);
  border-radius: 5px;
}
.img_collections {
  display: flex;
}
.img {
  height: 30%;
}

.record_details {
  background-color: rgb(174, 151, 122);
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
}

.table {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.thead {
  border: 1px solid black;
  font-size: 25px;
  background-color: skyblue;
  padding: 10px 20px;
}

.tbody {
  border: 1px solid black;
  font-size: 20px;
  background-color: rgb(235, 186, 186);
}

.td {
  border: 1px solid black;
}

.edit_button {
  padding: 10px 10px;
  outline: none;
  border: none;
  background-color: rgb(14, 144, 2);
  color: white;
  font-size: 20px;
}

.delete_button {
  padding: 10px 10px;
  outline: none;
  border: none;
  background-color: rgb(250, 5, 5);
  color: white;
  font-size: 20px;
}
